.modal-content {
  background-color: rgb(0, 0, 0) !important; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9) !important; /* Black w/ opacity */
}

.modal-header {
  border-bottom: none !important;
}

.modal-header .btn-close {
  background-color: white !important;
}

.font-bold {
  font-weight: 500;
}

.card {
  cursor: default;
}

.movie-details-poster {
  width: 20rem;
}
